.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.up {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.down {
  display: flex;
  justify-content: center;
  align-items: center;
}

.down p {
  width: 35%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.image {
  width: 20%;
  filter: drop-shadow(-15px 10px 10px var(--foreground));
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.icons > * {
  animation: 0.7s zoominout ease-in-out alternate infinite;
}

.gmail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 50%;
  background-color: var(--white);
}

@media screen and (min-width: 1024px) and (max-width: 1330px) {
  .down p {
    width: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .down p {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .icons {
    width: 60%;
  }

  .image {
    width: 30%;
  }

  .down p {
    width: 90%;
  }
}

@keyframes zoominout {
  from {
    transform: scale(0.9, 0.9);
  }

  to {
    transform: scale(1, 1);
  }
}
