.section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.about_title {
  display: none;
}

.contact_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.image_container {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 0.8em;
  padding: 15px;
  border-radius: 6px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  z-index: 1;
}

.image_container:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.image {
  width: 100%;
  filter: drop-shadow(-15px 20px 10px rgba(0, 0, 0, 0.5));
}

.link:hover {
  text-decoration: 2px underline;
}

.button {
  width: 70%;
  margin-right: 8%;
  border: 1px solid var(--background);
  box-shadow: 0 0 10px var(--foreground);
  font-weight: 600;
  padding: 10px 0;
  border-radius: 20px;
  animation: 0.7s zoominout infinite alternate;
  outline: none;
}

.description_container {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.description {
  width: 100%;
  height: 500px;
  border-radius: 60px;
  padding: 40px;
  box-shadow: 0 0 10px var(--foreground);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.text {
  font-size: 1em;
}

.chevrons_container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
}

.chevrons {
  box-shadow: 0 9px 10px var(--foreground);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  outline: none;
}

.chevrons:active {
  box-shadow: 0 4px 10px var(--foreground);
  transform: translateY(4px);
}

@keyframes zoominout {
  from {
    transform: scale(0.9, 0.9);
  }
  to {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1330px) {
  .section {
    padding: 0;
  }
  .description_container {
    width: 40%;
    height: 100vh;
    justify-content: space-around;
  }
  .description {
    gap: 0.2em;
    padding: 30px;
    height: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .section {
    padding: 0 1%;
  }
  .description_container {
    width: 45%;
  }
  .description {
    height: auto;
    padding: 30px;
  }
  .tooltiptext {
    left: 10%;
  }
  .tooltiptext::after {
    left: 50%;
  }
}

@media screen and (max-width: 767px) {
  .about {
    margin: 15% 0;
  }
  .section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 2%;
  }
  .about_title {
    display: block;
    position: sticky;
    top: 0;
    padding: 5% 2%;
    margin: 0;
    height: auto;
    font-weight: bold;
    font-size: 2.5em;
    align-self: flex-start;
    width: 100%;
    background-color: var(--background);
  }
  .contact_container {
    flex-direction: column;
  }
  .description_container {
    width: 100%;
    height: 100%;
    padding: 15% 0;
  }
  .description {
    height: auto;
  }
  .image {
    width: 200px;
    display: none;
  }
  .button {
    width: 100%;
    margin: 0;
    box-shadow: none;
    animation: none;
    padding: 0;
    margin: 0;
  }
}
