.homepage{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_image{
    width: 380px;
    display: inline-block;
    border-radius: 180px;
    filter: drop-shadow(0px 20px 14px rgba(0, 0, 0, 0.5));
    animation: .5s rotate ease-in-out,.7s zoominout infinite alternate .5s;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.description h1{
    font-size: 48px;
    color: var(--background);
    text-shadow: 2px 2px 10px var(--foreground);
}

.description h2{
    font-size: 32px;
}

.description p{
    font-size: 16px;
}

@keyframes zoominout{
    from{
        transform: scale(0.9, 0.9);
    }
    to{
        transform: scale(1, 1);
    }
}

@keyframes rotate {
    from{
        transform: rotate(0deg) scale(0.1);
    }
    to{
        transform: rotate(360deg) scale(1);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .homepage{
        gap: 30px;
    }
    .home_image{
        width: 150px;
        flex: 1;
    }
    .description{
        flex: 1;
    }
}